{{user->name}} ({{user->email}}){% if user->company != '' %} from {{user->company}}{% end %} has requested to be invoiced for the following course:

Course name:  {{course->title}} 
Course price: {{course->price|courses\Filter::money}} 
Discount:     {% if course->discount == 0 %}None{% else %}{{course->discount}}%{% end %} 
Their price:  {{course->discount_price|courses\Filter::money}} 
Course link:  http://{{$_SERVER.HTTP_HOST}}/courses/{{course->id}}/{{course->title|URLify::filter}} 
Member link:  http://{{$_SERVER.HTTP_HOST}}/user/details?id={{user->id}} 

Sincerely,
{{conf ('General', 'site_name')}} 
