{! admin/util/fontawesome !}

<div id="courses-course-body">
{% foreach categories as category %}
	{% if category->course_count %}
	<h3>{{category->title}}</h3>
	<div class="courses-course-list">
		{% foreach category->courses as course %}
		<div class="courses-course">
			{% if course->thumb != '' %}
				<a href="/courses/{{course->id}}/{{course->title|URLify::filter}}"><img src="/{{course->thumb|Image::resize(%s, 39, 39)}}" alt="{{course->title}}" class="courses-course-thumbnail" /></a>
			{% else %}
				<a href="/courses/{{course->id}}/{{course->title|URLify::filter}}"><i class="fa fa-lightbulb-o fa-3x courses-course-thumbnail"></i></a>
			{% end %}
			<h4 class="courses-course-title"><a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></h4>
			<p class="courses-course-description">
				<span class="courses-course-summary">{{course->summary}}</span>
			</p>
			<p class="courses-course-info">
				<a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">{"Learn More"}</a>
			</p>
		</div>
		{% end %}
	</div>
	{% end %}
{% end %}
</div>
