{! admin/util/fontawesome !}

<div id="courses-course-body">
{% foreach categories as category %}
	{% if category->course_count %}
	<h3>{{category->title}}</h3>
	<div class="courses-course-list e-row-variable">
		{% foreach category->courses as course %}
		<div class="e-col-33 e-no-padding">
			<div class="courses-course">
				<div class="courses-thumbnail-wrapper">
					<a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">
						<div class="courses-thumbnail"
							{% if course->thumb != '' %}
								style="background-image: url('/{{course->thumb|Image::resize (%s, 400, 300, 'cover', 'ext')}}')"
							{% else %}
								style="background-image: url(/apps/courses/css/default.jpg)"
							{% end %}
						></div>
					</a>
				</div>
				<div class="courses-item-info">
					<h4><a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></h4>
					<p>
						{% if course->availability == 4 %}
						<strong class="courses-course-price courses-course-price-paid">{{course->price|courses\Filter::money}}</strong>
						{% elseif course->availability == 3 %}
						<strong class="courses-course-price courses-course-price-free">{"Free with registration"}</strong>
						{% else %}
						<strong class="courses-course-price courses-course-price-free">{"Free"}</strong>
						{% end %}
					</p>
				</div>
				<a href="/courses/{{course->id}}/{{course->title|URLify::filter}}" class="courses-item-link">{"Details"}</a>
			</div>
		</div>
		{% end %}
	</div>
	{% end %}
{% end %}
</div>
