{! admin/util/fontawesome !}

<div id="courses-course-menu">

<h3>{"My courses"}</h3>

{% if count ($data->courses) == 0 %}
<p>{"You are not currently subscribed to any courses."}</p>
{% else %}

<ul>
{% foreach courses as course %}
	<li><a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></li>
{% end %}
</ul>

{% end %}

{% if count ($data->instructing) > 0 %}
<h3>{"Instructing courses"}</h3>

<ul>
{% foreach instructing as course %}
	<li><a href="/courses/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></li>
{% end %}
</ul>

{% end %}

</div>
