<div id="courses-course-menu">
	<h3>{"Contents"}:</h3>

	<ol>
	{% foreach pages as page_id, page_title %}
		<li><a href="/course/{{id}}/{{title|URLify::filter}}/{{page_id}}/{{page_title|URLify::filter}}">{{page_title}}</a></li>
	{% end %}
	</ol>

	<p class="courses-learner-links">
	{% if is_learner %}
	{% if instructor %}
		<a href="/course/{{id}}/{{title|URLify::filter}}/contact" class="current">{"Email instructor"}</a><br />
	{% end %}
	{% end %}
	{% if has_glossary %}
		<a href="/course/{{id}}/{{title|URLify::filter}}/glossary">{"Glossary"}</a>
	{% end %}
	</p>

	{% if is_instructor %}
		<div class="courses-instructor-menu">
			<p>{"Instructor Links"}:</p>
			<ul>
				<li><a href="/courses/course/learners?id={{id}}">{"Learners"}</a></li>
				<li><a href="/courses/course/manage?id={{id}}">{"Edit course"}</a></li>
				<li><a href="/courses/course/edit?id={{id}}">{"Settings"}</a></li>
			</ul>
		</div>
	{% end %}
	
	{% if is_learner %}
		<p class="courses-learner-progress">
			{"Your progress"}:<br />
			{! courses/status?course=[id] !}
		</p>
	{% end %}
</div>

<div id="courses-course-body">
	<h3>{"Email the instructor"}</h3>

	<p>{"Your message has been sent."}</p>
</div>

<br clear="both" />
