<div class="summary e-row-equal">
	<div class="e-col-40 e-no-padding">
		<div class="thumbnail-wrapper">
			<div class="thumbnail"
				{% if thumb != '' %}
					style="background-image: url('/{{thumb|Image::resize (%s, 600, 450, 'cover', 'ext')}}')"
				{% else %}
					style="background-image: url(/apps/courses/css/default.jpg)"
				{% end %}
			></div>
		</div>
	</div>
	<div class="summary-info e-col-60 e-no-padding">
		<div class="summary-info-text">
			<p>{{summary}}</p>
		</div>
		<div class="summary-link">

{% if $_SERVER['REQUEST_METHOD'] !== 'POST' %}
<form method="post">
<input type="hidden" name="subscribe" value="1" />
{% if availability == 4 %}
	<button class="courses-course-price courses-course-price-paid">
		{"Join this course"} - 
		{% if discount_price !== $data->price %}
			<strike>{{price|courses\Filter::money}}</strike> {{discount_price|courses\Filter::money}} ({{discount}}% {"off"})
		{% else %}
			{{price|courses\Filter::money}}
		{% end %}
	</button>
{% else %}
	<button class="courses-course-price courses-course-price-free">{"Join this course for free"}</button>
{% end %}
</form>
{% end %}

		</div>
	</div>
</div>

<div class="details">
	{% if $_SERVER['REQUEST_METHOD'] === 'POST' && $data->availability == 4 && $data->allow_invoice %}
		<form method="post" id="invoice-me">
			<input type="hidden" name="subscribe" value="1" />
			<input type="hidden" name="invoice" value="1" />
		</form>
		<p><a href="#" onclick="$('#invoice-me').submit (); return false">{"Request an invoice to pay offline."}</a></p>
	{% end %}

	{{ details|none }}
</div>
